

/* Reset base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background: #0d0e17;
  color: #e8e8e8;
  scroll-behavior: smooth;
  max-width: fit-content;
  max-height: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/* Header & Navigation */
header {
  background: rgba(0,0,0,0.5);
  position: sticky;
  top: 0;
  z-index: 100;
}
nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
nav .logo {
  font-size: 24px;
  font-weight: bold;
  color: blue;
}
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: -140px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  position: relative;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: blue;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: blue;
  transition: width 0.4s ease;
}

.nav-links a:hover::after {
  width: 100%;
}
  
/* Hero Section */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}
.hero-text h1 {
  font-size: 48px;
  color: #fff;
}
.hero-text h2 {
  font-size: 32px;
  color:blue;
}
.hero-text p {
  margin: 15px 0;
}
.buttons .btn,
.buttons .secondary {
  margin-right: 15px;
}
.btn,.secondary {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.btn {
  background: black;
  color: #fff;
  box-shadow: 0px 2px 10px;
}
.btn:hover {
  background: rgb(217, 171, 85);
}
.secondary {
  background: black;
  color: #fff;
}
.secondary:hover {
  background:rgb(199, 152, 65);
}

.hero-img {
  position: relative;
  width: 280px;
  margin-top: 10px;
  
}
.hero-img img {
  border-radius: 10px;
  box-shadow: 0 4px 15px ;
}
.hero-img .floating-box {
  position: absolute;
  background: #fff;
  color: #333;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 15px ;
  animation: float 6s ease-in-out infinite;
}
.hero-img .floating-box:nth-child(2) {
  top: -20px;
  left: -40px;
}
.hero-img .floating-box:nth-child(3) {
  bottom: -20px;
  right: -40px;
}
@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
.typewriter-container {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
  width:fit-content;
  margin-bottom:auto;
  text-align: center;
  margin-bottom:auto;
  margin-left:-20px ;
  animation: blink 0.7s infinite;
}
#typewriter-text::after{
  content: |;
  animation:blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: white; }
}

/* About Section */
.about {
  padding: 80px 20px;
  background: #1a1b29;
}
.about-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.about-content .images {
  position: relative;
  flex: 1;
}
.main-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px;
}
.floating-img {
  position: absolute;
  top: -105px;
  left: -20px;
  width: 230px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px;
}
.tech-icon1{
  border-radius: 10px;
  box-shadow: 0px 8px 15px;
}
.tech-icon {
  width: 200px;
  position: absolute;
  bottom: -60px;
  right: -20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px;
}
.about-content .text {
  flex: 1;
}
.about-content .tag {
  display: block;
  color:blue;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}
.about-content h2 {
  font-size: 32px;
  margin-bottom: 16px;
}
.about-content p {
  margin-bottom: 20px;
}

/* projects Section */
.projects {
  padding: 80px 20px;
}
.projects .section-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  color: blue;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.project-card {
  background: #222333;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s;
  box-shadow: 0px 8px 15px;
}
.project-card:hover {
  transform: translateY(-5px);
}
.project-card img {
  width: 100%;
}
.project-card h3 {
  padding: 15px;
  font-size: 20px;
}
.view-btn {
  display: block;
  padding: 12px;
  background:black;
  text-align: center;
  margin: 0 15px 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px;
}
.view-btn:hover{
  background-color: rgb(205, 155, 63);
}

/* Skills Section */
.skills {
  padding: 80px 10px;
  background: #1a1b29;
}
.skills .section-title {
  font-size: 20px;
  text-align: center;
  color: rgb(10, 10, 222);
  margin-bottom: 20px;
}
.skill-bars {
  max-width:500px;
  margin:auto;
}
.skill {
  margin-bottom:10px;
}
.skill label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.bar {
  background:beige;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 40px;
}
.fill {
  background:green;
  padding:0px;
  color:black;
  width: 0;
  animation: loadBar 4s forwards;
  width:var(--fill-width) ;
}

@keyframes loadBar {
  from { width: 0; }
  to { width: var(--fill-width); }
}

/* Contact Section */
.contact {
  padding: 80px 20px;
}
.contact .section-title {
  font-size: 32px;
  text-align: center;
  color: blue;
  margin-bottom: 40px;
}
.contact-form {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.contact-form form {
  flex: 1;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
}
.submit-btn {
  background:black;
  color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0px 5px 10px;
}
.submit-btn:hover{
  background-color: green;
}
.contact-info {
  flex: 1;
  font-size: 18px;
}
.contact-info p {
  margin-bottom: 12px;
}

/* Footer */
.footer {
  background-color: #0d0d0d;
  text-align: center;
  padding: 20px;
}

.footer .social-links {
  margin-bottom: 10px;
}

.footer .social-links a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.footer .social-links a:hover {
  transform: scale(1.2);
  box-shadow: 0px 2px 10px;
}

.footer .social-links img {
  width: 40px;
  height: 40px;
}
.topButton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 48px;
  height: 48px;
  background-color: black;
  border: none;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0px 5px 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.topButton svg {
  stroke:black;
}

.topButton:hover {
  background-color:white;
  transform: translateY(-4px);
}
 


/* Responsive */
@media(max-width: 500px) {
  .contact-form {
    flex-direction: column;
    padding: 0 15px;
  }

  .footer .social-links img {
    width: 30px;
    height: 30px;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .hero-text h2 {
    font-size: 20px;
  }
}
